<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

 <beans>
    <bean id="helloPage" class="org.geoserver.web.MenuPageInfo">
      <property name="id" value="GSMonitorPage"/>
      <property name="titleKey" value="GSMonitorPage.page.title"/>
      <property name="descriptionKey" value="GSMonitorPage.page.description"/>
      <property name="componentClass" value="org.locationtech.gsmonitor.web.GSMonitorPage"/>
    </bean>
</beans>
